{{extends "base.html"}}

{{block body()}}
<ol class="breadcrumb">
    <li><a href="{{ base_path }}">{{ registry_host }}</a></li>
    <li class="active">{{ repo }}</li>
</ol>

<table id="datatable" class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th>Tag Name</th>
            <th>Full Address</th>
        </tr>
    </thead>
    <tbody>
        {{range tag := tags}}
        <tr>
            <td><a href="{{ base_path }}/{{ repo|url_encode }}/{{ tag|url_encode }}">{{ tag }}</a></td>
            <td>{{ registry_host }}/{{ repo }}:{{ tag }}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
